body {
  margin: 10%;
  padding: 0;
}

.myContainer {
  text-align: center;
}

h3 {
  text-align: center;
}

ul#number-list {
  list-style: none;
  padding-inline-start: 0px;
}

ul#number-list li {
  margin: 0.7em;
  display: inline-block;
}
